version: "3.8"

services:

  mysql:
    image: mysql:8
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes" 
      MYSQL_DATABASE: AIDB
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  mlflow:
    build:
      context: .
      dockerfile: docker/Dockerfile.mlflow
    ports:
      - "5000:5000"
    depends_on:
      - mysql

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile.api
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - mlflow

volumes:
  mysql_data: